---
title: "[VDP] Aula 05 - Pandas"
author: "Walter R. Paixão-Côrtes"
date: "2023-02-07"
categories: [Visualização, Python, Pandas, Seaborn, Notebooks]
image: /library/concepts/programming_practice.jpg
toc: true
description: Preparando dados como gente grande!
---

## Introdução

Se você chegou até aqui, significa que já deve ter aprendido como carregar os dados no Google Colab utilizando as bibliotecas padrão do python. E deve ter percebido que a tarefa não é simples, e requer muitas linhas de código.

Justamente com a intenção de simplificar o trabalho dos cientistas e engenheiros de dados é que a biblioteca **Pandas** foi criada. Com a biblioteca Pandas, todo o trabalho de manipulação dos dados fica simplificado, rápido e mais organizado.

## Instalando Pandas

Tenho uma boa notícia: como estamos utilizando o Google Colab para nossas aulas, ele já vem instalado no nosso ambiente! Mas caso você esteja também se aventurando em fazer este curso no VS Code, PyCharm, Sublime ou até mesmo Notepad, o comando para instalar a biblioteca Pandas é o seguinte:

```shell
(venv) $ pip install pandas
```

Este comando irá instalar a biblioteca Pandas e todos as bibliotecas dependentes.

## Utilizando Pandas

Iremos ver, passo a passo, como utilizar a biblioteca Pandas em nosso notebook Google Colab, passando pelos seus principais conceitos.

### Carregando Pandas no notebook

A primeira coisa que devemos fazer é carregar a biblioteca em nosso notebook. Fazemos isso com o comando `import`.

In [1]:
import pandas as pd

:::{.callout-tip}
É considerado uma boa prática ao carregar a biblioteca sempre utilizar o alias `pd`. Observe que todos os artigos na internet se utilizam essa mesma referência.
:::

### Carregando os dados

Na aula 3, aprendemos que uma maneira de carregar os dados em um notebook on Google Colab é a seguinte:
```python
import csv

pokemons = {}
with open('pokemons.csv', 'r', encoding='utf-8') as arquivo:
  dados = csv.DictReader(arquivo)

  for pokemon in dados:
    for key, value in pokemon.items():
      pokemons.setdefault(key,[]).append(value)
```

Utilizando pandas, isso será substituído por uma única linha:

In [2]:
pokemons = pd.read_csv('pokemons.csv')

Ficou bem mais fácil, não é mesmo? Da mesma forma, verificar o conteúdo que foi carregado também se simplifica - vai disso aqui:
```python
for indice in range(0, 2):    # executa um loop dos dois primeiros elementos do array
  print(pokemons[indice])     # imprime o elemento
```

para isso aqui:

In [3]:
pokemons.head(2)

,Number,Name,Type 1,Type 2,Abilities,HP,Att,Def,Spa,Spd,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
0,1,Bulbasaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",45,49,49,65,65,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.7,6.9,14.1
1,2,Ivysaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",60,62,63,80,80,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,13.0,13.0

#### Mas não é só isso...

Outra grande vantagem de se utilizar pandas é que temos a nossa disposição um grande número de opções para carregar dados. Além do `read_csv`, temos readers especializados: `read_json`, `read_excel`, e por aí vai... Aconselho a dar uma olhada no manual do pandas [aqui](https://pandas.pydata.org/docs/user_guide/io.html).

### Inspecionando os dados

Após termos os dados carregados, a nossa próxima atividade é inspecionar os dados. Além do comando que vimos acima `head()`, que pode nos mostrar as primeiras linhas do DataFrame, temos outras funções, como:
- `tail()` - mostra as últimas linhas do DataFrame
- `sample()` - mostra linhas aleatórias do DataFrame
- `describe()` - mostra os valores de diversas medidas
- `info()` - mostra os campos do DataFrame com seus tipos
- `shape` - dá as dimensões (coluna, linha) do DataFrame

#### `head()`

In [4]:
pokemons.head(5)

,Number,Name,Type 1,Type 2,Abilities,HP,Att,Def,Spa,Spd,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
0,1,Bulbasaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",45,49,49,65,65,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.7,6.9,14.1
1,2,Ivysaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",60,62,63,80,80,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,13.0,13.0
2,3,Venusaur,Grass,Poison,"['Chlorophyll', 'Overgrow']",80,82,83,100,100,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,2.0,100.0,25.0
3,3,Mega Venusaur,Grass,Poison,['Thick Fat'],80,100,123,122,120,...,1.0,1.0,1.0,1.0,1.0,1.0,0.5,2.4,155.5,27.0
4,4,Charmander,Fire,NaN,"['Blaze', 'Solar Power']",39,52,43,60,50,...,0.5,2.0,1.0,1.0,1.0,0.5,0.5,0.6,8.5,23.6

#### `tail()`

In [5]:
pokemons.tail(5)

,Number,Name,Type 1,Type 2,Abilities,HP,Att,Def,Spa,Spd,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
1027,896,Glastrier,Ice,NaN,['Chilling Neigh'],100,145,130,65,110,...,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.2,800.0,165.3
1028,897,Spectrier,Ghost,NaN,['Grim Neigh'],100,65,60,145,80,...,0.5,1.0,2.0,1.0,2.0,1.0,1.0,2.0,44.5,11.1
1029,898,Calyrex,Psychic,Grass,['Unnerve'],100,80,80,80,80,...,4.0,1.0,2.0,1.0,2.0,1.0,1.0,1.1,7.7,6.4
1030,898,Calyrex Ice Rider,Psychic,Ice,['As One'],100,165,150,85,130,...,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.4,809.1,140.5
1031,898,Calyrex Shadow Rider,Psychic,Ghost,['As One'],100,85,80,165,100,...,1.0,1.0,4.0,1.0,4.0,1.0,1.0,2.4,53.6,9.3

#### `sample()`

In [6]:
pokemons.sample(5)

,Number,Name,Type 1,Type 2,Abilities,HP,Att,Def,Spa,Spd,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
611,519,Pidove,Normal,Flying,"['Big Pecks', 'Rivalry', 'Super Luck']",50,55,50,36,30,...,0.5,2.0,0.0,1.0,1.0,1.0,1.0,0.3,2.1,23.3
352,295,Exploud,Normal,NaN,"['Scrappy', 'Soundproof']",104,91,63,91,73,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.5,84.0,37.3
736,637,Volcarona,Bug,Fire,"['Flame Body', 'Swarm']",85,60,65,135,105,...,0.5,4.0,1.0,1.0,1.0,0.5,0.5,1.6,46.0,18.0
271,222,Galarian Corsola,Ghost,NaN,"['Cursed Body', 'Weak Armor']",60,55,100,65,100,...,0.5,1.0,2.0,1.0,2.0,1.0,1.0,0.6,0.5,1.4
167,130,Mega Gyarados,Water,Dark,['Mold Breaker'],95,155,109,70,130,...,2.0,1.0,0.5,1.0,0.5,0.5,2.0,6.5,305.0,7.2

#### `describe()`

In [8]:
pokemons.describe()

,Number,HP,Att,Def,Spa,Spd,Spe,BST,Mean,Standard Deviation,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
count,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,...,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000,1032.000000
mean,439.226744,69.906008,80.526163,74.609496,72.918605,72.139535,68.548450,438.648256,73.108043,20.028104,...,1.002180,1.239826,1.025678,0.974806,1.074855,0.992006,1.094234,1.286822,71.879845,136.735756
std,261.871350,26.189155,32.542374,30.905972,32.773495,27.625876,30.219526,120.675545,20.112591,10.830298,...,0.613111,0.699361,0.577269,0.378040,0.475292,0.511859,0.535159,1.391501,132.872741,3111.666658
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000,29.166667,0.000000,...,0.250000,0.250000,0.000000,0.000000,0.250000,0.250000,0.250000,0.100000,0.100000,0.000000
25%,211.750000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000,330.000000,55.000000,12.801910,...,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000,0.600000,9.000000,18.600000
50%,434.500000,67.000000,78.000000,70.000000,65.000000,70.000000,65.000000,459.000000,76.500000,18.484228,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,29.750000,28.350000
75%,667.250000,83.000000,100.000000,90.000000,95.000000,90.000000,90.000000,515.000000,85.833333,24.835709,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.600000,71.275000,42.200000
max,898.000000,255.000000,190.000000,230.000000,194.000000,230.000000,200.000000,780.000000,130.000000,103.215659,...,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,20.000000,999.900000,99990.000000

#### `info()`

In [9]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Number                   1032 non-null   int64
 1   Name                     1032 non-null   object
 2   Type 1                   1032 non-null   object
 3   Type 2                   548 non-null    object
 4   Abilities                1032 non-null   object
 5   HP                       1032 non-null   int64
 6   Att                      1032 non-null   int64
 7   Def                      1032 non-null   int64
 8   Spa                      1032 non-null   int64
 9   Spd                      1032 non-null   int64
 10  Spe                      1032 non-null   int64
 11  BST                      1032 non-null   int64
 12  Mean                     1032 non-null   float64
 13  Standard Deviation       1032 non-null   float64
 14  Generation               1032 non-null   float64
 15  Experience type          1032 non-null   object
 16  Experience to level 100  1032 non-null   int64
 17  Final Evolution          1032 non-null   float64
 18  Catch Rate               1032 non-null   int64
 19  Legendary                1032 non-null   float64
 20  Mega Evolution           1032 non-null   float64
 21  Alolan Form              1032 non-null   float64
 22  Galarian Form            1032 non-null   float64
 23  Against Normal           1032 non-null   float64
 24  Against Fire             1032 non-null   float64
 25  Against Water            1032 non-null   float64
 26  Against Electric         1032 non-null   float64
 27  Against Grass            1032 non-null   float64
 28  Against Ice              1032 non-null   float64
 29  Against Fighting         1032 non-null   float64
 30  Against Poison           1032 non-null   float64
 31  Against Ground           1032 non-null   float64
 32  Against Flying           1032 non-null   float64
 33  Against Psychic          1032 non-null   float64
 34  Against Bug              1032 non-null   float64
 35  Against Rock             1032 non-null   float64
 36  Against Ghost            1032 non-null   float64
 37  Against Dragon           1032 non-null   float64
 38  Against Dark             1032 non-null   float64
 39  Against Steel            1032 non-null   float64
 40  Against Fairy            1032 non-null   float64
 41  Height                   1032 non-null   float64
 42  Weight                   1032 non-null   float64
 43  BMI                      1032 non-null   float64
dtypes: float64(29), int64(10), object(5)
memory usage: 354.9+ KB

#### `shape`

In [10]:
pokemons.shape

(1032, 44)